/*.egg-info/
/.venv/
parquet/

.envrc
.env

__pycache__/
/parquet/*
.ipynb_checkpoints

data/*
!data/interim/
data/interim/*
!data/interim/labels.parquet
!data/models/
data/models/*
!data/models/model.pkl

.DS_Store

notebooks/**/*.parquet
notebooks/**/*.txt
notebooks/logs

Undirected_Farcaster/
Undirected_Facebook/
docker_data/

# Ignore data in farcaster-sybil-detection
farcaster-social-graph-api/farcaster_social_graph_api/data/